.App {
  max-width: 30rem;
  margin: auto;
}

.AppTitle {
  background: black;
  color: white;
  padding: 0.5rem;
  text-align: center;
}
.AppTitle:hover {
  background: white;
  color: black;
  transition: ease 0.4s;
}